@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 10% 5%;

    --card: 0 0% 100%;
    --card-foreground: 20 10% 5%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 10% 5%;

    --primary: 25 20% 48%;
    --primary-foreground: 0 0% 98%;

    --secondary: 40 30% 85%;
    --secondary-foreground: 20 10% 5%;

    --muted: 40 30% 85%;
    --muted-foreground: 25 5% 35%;

    --accent: 40 30% 85%;
    --accent-foreground: 20 10% 5%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 30 30% 88%;
    --input: 30 30% 88%;
    --ring: 25 20% 48%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 20 10% 5%;
    --foreground: 0 0% 98%;

    --card: 20 10% 5%;
    --card-foreground: 0 0% 98%;

    --popover: 20 10% 5%;
    --popover-foreground: 0 0% 98%;

    --primary: 25 20% 48%;
    --primary-foreground: 0 0% 98%;

    --secondary: 25 5% 15%;
    --secondary-foreground: 0 0% 98%;

    --muted: 25 5% 15%;
    --muted-foreground: 25 5% 65%;

    --accent: 25 5% 15%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 25 5% 25%;
    --input: 25 5% 25%;
    --ring: 25 20% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
